
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'adminlte/adminlte';
@import 'fontawesome';
@import 'scrollbar';
@import '~vue-toast-notification/dist/index';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.table {
  background-color: #fff;
}
