.col-md-3, .col-12{
    text-align: center;  
    padding: 3%;
}
#scroll{
    overflow-x: scroll;
}
img{
    cursor: pointer;
    border-radius: 10%;
}
#breadcrumbid{
    color: black;
}

#extra_options_1{
    position: absolute;
    border: 1px solid black;
    width: 25%;
    height: 25%;
    display: none;
    left: 88%;
    top: 18%;
}

#extra_options_2{
    position: absolute;
    border: 1px solid black;
    width: 25%;
    height: 25%;
    display: none;
    left: 88%;
    top: 44%;
}

